@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #d5e1ef;
}

.firstbox {
    background-color: #ffffff;
    width: 317px;
    height: 505px;
    box-shadow: 0 0 3px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    display: block;
}

.firstbox img {
    border-radius: 5%;
    margin-top: 6%;
    margin-left: 4.8%;
}

.firstbox .text {
    color: #2e3856;
    font-family: Outfit;
    font-weight: 700;
    font-size: 22px;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.firstbox .soft {
    color: #b6bbc3;
    font-family: Outfit;
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 5% 9% 9% 9%;
    border-radius: 20%;
}
